.butacs {
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 50px;
}

.box {
  /* border: 5px solid black;   */
  width: 100%;
  height: 50px;
  text-align: center;
  font-size: 50px;
  font-weight: 600;
  letter-spacing: 5px;
}

#hide {
  display: none;
}

#show {
  display: block;
}

.cazuela {
  width: 100%;
  height: 140px;
  background-color: darkseagreen;
  margin: 10px;
}

.galeria {
  width: 100%;
  height: 140px;
  background-color: goldenrod;
  margin: 10px;
}

.palcos-altos {
  width: 100%;
  height: 140px;
  background-color: peru;
  margin: 10px;
}

.palcos-bajos {
  width: 100%;
  height: 140px;
  background-color: slateblue;
  margin: 10px;
}

.platea {
  width: 100%;
  height: 140px;
  background-color: darkslateblue;
  margin: 10px;
}