.butacs {
  margin-left: 140px;
  margin-right: 140px;
  margin-top: 50px;
}

#zoomout {
  width: 100%;
  transform: scale(1.0);
  overflow: hidden;
  margin-left: 0px;
  margin-top: 0px;
}

#zoomin {
  transform: scale(2.2);
  cursor: move;
}

#cazuela-big{
  width: 100%;
  overflow: hidden;
  position: relative;
}

.box {
  /* border: 5px solid black;   */
  width: 100%;
  height: 50px;
  text-align: center;
  font-size: 50px;
  font-weight: 600;
  letter-spacing: 5px;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.cazuela {
  width: 100%;
  height: 120px;
  background-color: #a4c354;
  margin: 10px;
}

.galeria {
  width: 100%;
  height: 120px;
  background-color: goldenrod;
  margin: 10px;
}

.palcos-altos {
  width: 100%;
  height: 120px;
  background-color: peru;
  margin: 10px;
}

.palcos-bajos {
  width: 100%;
  height: 120px;
  background-color: slateblue;
  margin: 10px;
}

.platea {
  width: 100%;
  height: 120px;
  background-color: darkslateblue;
  margin: 10px;
}

.libre-box {
  width:20px;
  height:15px;
  background-color:darkseagreen;
}

.seleccionado-box {
  width:20px;
  height:15px;
  background-color:red;
}

.ocupado-box {
  width:20px;
  height:15px;
  background-color:silver;
}

#Leyenda table{
  display: inline-block;
  margin-left: 15px;
}

#Leyenda p{
  display: inline-block;
  margin-left: 15px;
  font-size: 18px;
}

#Leyenda button {
  background-color: #42a692;
  color: white;
  float: left;
  margin-right: 100px;
}

#Leyenda {
  position: absolute;
  top: 40px;
  left: 20%;
}

.row .btn-volver {
  margin-left: 40%;
}