.butacs {
  margin-left: 140px;
  margin-right: 140px;
  margin-top: 50px;
}

.box {
  /* border: 5px solid black;   */
  width: 100%;
  height: 50px;
  text-align: center;
  font-size: 50px;
  font-weight: 600;
  letter-spacing: 5px;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.cazuela {
  width: 100%;
  height: 120px;
  background-color: darkseagreen;
  margin: 10px;
}

.galeria {
  width: 100%;
  height: 120px;
  background-color: goldenrod;
  margin: 10px;
}

.palcos-altos {
  width: 100%;
  height: 120px;
  background-color: peru;
  margin: 10px;
}

.palcos-bajos {
  width: 100%;
  height: 120px;
  background-color: slateblue;
  margin: 10px;
}

.platea {
  width: 100%;
  height: 120px;
  background-color: darkslateblue;
  margin: 10px;
}

.login {
  padding-right: 30px;
  color: white;
}

.ui.menu {
  border-radius: 0px;
  padding: 10px;
}

.login:hover {
  padding-right: 30px;
  color: white;
}

a {
  color: black;
}

a:hover {
  color: black;
}

.ui.teal.button,
.ui.teal.buttons .button {
  background-color: #42A692;
}

.margin {
  margin: 100px !important;
}

.title {
  font-weight: 900;
  font-size: 40px;
}